.header1{
		font-family: Trebuchet MS, sans-serif;
		font-size: 500%;
		color: #8C8989;
		font-weight:bold;
		text-align: center;
	}
body{
	text-align: center;
}
section.difficulty div{
		font-family: Trebuchet MS, sans-serif;
		font-size:200%;
		margin:2%;
		display:inline-block;
	}
.levels{
		border:1px solid black;
		padding:1% 10%;
		background: none;
		margin:2%;
		font-size: 100%;
		cursor: pointer;
		font-family: Trebuchet MS, sans-serif;
		transition: 0.8s;
	}
.btn1,.btn2,.btn3{
		color:black;
	}
.levels:hover{
		color: white;
	}
section.playingField{
		text-align: center;
	}
